/* BugDetailPage.css */

.bug-detail-page {
    background-color: #f9f9f9;
    padding: 20px;
}

.page-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.bug-details {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
}

.bug-table {
    width: 100%;
}

.bug-label {
    font-weight: bold;
}

/* BugDetailPage.css */

.bug-detail-page {
    background-color: #f9f9f9;
    padding: 20px;
}

.page-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.bug-details {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
}

.bug-table {
    width: 100%;
}

.bug-label {
    font-weight: bold;
}
.detail-bc{
    position: absolute;
    z-index: 1;
    top: 53px;
    width: -webkit-fill-available;

    height: 100vh;
    background: #000;
    opacity: 50%;
}
.detail-info{

}
.detail{
    padding: 20px;
    z-index: 1;
    position: absolute;
    top: 20%;
    right: 50%;
    transform: translateX(50%);
    background-color: white;
}