.header-layout{
    width: 100%;
    height: 52px;
    background-color: white;
    position: fixed;
    transform: translateX(-50%);
    left: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}
.outlet{

}