.header-background{

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);


}

.header {
    display: grid;
    width: 80%;
    grid-template-columns: 60% 40%;
    margin: 0 auto;
}

.nameproject {
    height: 52px;
    left: 54px;
    top: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 46px;
    letter-spacing: 0.075em;
    background: linear-gradient(270deg, #0085FF 21.31%, #CA0B7D 46.5%, #EF6262 65.59%, rgba(230, 11, 11, 0.88) 92%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.titleprojects{
    font-size: 20px;
    color: #344563 ;
    cursor: pointer;
}
.nav-bar,.function{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nav-bar div{
    margin-right: 20px;
}

.function{
    justify-content: flex-end;
}
.function span {
    margin-left: 20px;
}
.logout {
    background-color: #0052CC;
    color: white;
    padding: 6px 12px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.logout:hover {
    background-color: #003E99;
}
