
.project {
    margin-left: 54px;
    font-family: 'Helvetica';
    color: #344563;
}
.project{
    display: flex;
    margin-top: 20px;

}
hr{
    margin-top: 12px;
    border: none;
    height: 1px;
    color: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.8);
}
.creactproject{
    margin-top: 30px;
    background: #0052CC;
    border-radius: 5px;
    width: 120px;
    height: 35px;
    border: 3px solid #0052CC;
    margin-left: 1000px;
    color: #fff;
}


.name-lead {
    display: flex;
    gap: 181px;
    margin-left: 130px;
}
.information-firstblood{
    margin-left: 40px;
    margin-right: 40px;
}
.line2{
    background: rgba(94, 90, 90, 0.326);
    width: auto;
    height: 1px;
    margin-left: 120px;
    margin-right: 120px;
}
.line1 {
    background: rgba(94, 90, 90, 0.326);
    width: auto;
    height: 1px;
    margin-left: 80px ;  
    margin-right: 80px;

}

.nameblood-one {
    margin-left: 88px;
    font-family: 'Helvetica';
    color: #0085FF;
    font-size: 12px;
}

.nameblood {
    display: flex;
    gap: 223px;
}

.infomation-user {
    display: flex;
    gap: 10px;
    margin-top: 18px;
}

.leads {
    font-family: 'Helvetica';
    color: #0085FF;
    font-size: 15px;
}

.infomation-detail-userone {
    margin-left: 50px;
    margin-top: 18px;
    
}

.infomation-detail-usertow {
    margin-left: 540px;
    margin-top: 18px;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}

.slider {
    margin-right: 90%;
}
.desc{
    margin-left: 200px;
    width: 120px;
}

.slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.slick-track {
    margin-left: 9px;
}

.slick-prev,
.slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.avatars-useone img {
    border-radius: 50%;
    object-fit: cover;
  }

.slick-prev {
    left: 10px;
    z-index: 1;
}

.slick-next {
    right: 25px;
}

.pagination {
    margin-left:80px ;
    margin-top: 1px;
}
.pagination{
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-left: 120px;
  }
  
  .icon-chevron {
    margin-right: 5px;
  }
  
  .pagination-number {
    padding: 5px 5px;
    background-color: #8fc7fb;
    border: 1px solid #8fc7fb;
    border-radius: 3px;
    width: 10px;
    height: 15px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
  
}
.slider{
    margin-left: 50px;
    margin-top: 20px;
}