*{
    margin: 0;
    padding: 0;
}
.project {
    width: 75%;
    margin: 0 auto;
    color: #344563;
}

.project {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;

}

hr {
    border: none;
    height: 1px;
    color: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.8);
}

.creactproject {
    background: #0052CC;
    border-radius: 5px;
    padding: 5px 10px;
    border: 3px solid #0052CC;
    color: #fff;
    margin-right: 50px;
}


.name-lead {
    display: flex;
    gap: 181px;
    margin-left: 130px;
}

.information-firstblood {
    margin-left: 40px;
    margin-right: 40px;
}






.project-table {
    width: 75%;
    border-collapse: collapse;
    margin: 20px auto;
}

.project-table th,
.project-table td {
    padding: 12px;
}

.project-table th {
    /*background-color: #f2f2f2;*/
    font-weight: bold;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

.project-table .project-row:hover {
    background-color: #E9F2FF;
}
.project-table td:nth-child(1){
    font-weight: bold;
    color: #344563;
    cursor: pointer;
}

.project-table .project-row:hover td:nth-child(1){
    color: #0052CC;
    cursor: pointer;
}
.project-table td:nth-child(2){
    /*font-weight: bold;*/
    color: #0052CC;
    cursor: pointer;
}

.action-buttons {
    position: relative;
    display: inline-block;
}

.action-buttons .dots {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #0052CC;
    border-radius: 50%;
    cursor: pointer;
}

.action-options {
    position: absolute;
    top: 20px;
    right: 0;
    z-index: 1;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    display: none;
}

.action-buttons:hover .action-options {
    display: block;
}

.action-options button {
    display: block;
    width: 100%;
    padding: 6px 12px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-align: left;
}

.action-options button:hover {
    background-color: #f2f2f2;
}

.edit-button {
    display: inline-block;
    padding: 6px 12px;
    background-color: #0052CC;
    color: white;
    border: none;
    cursor: pointer;
}

.edit-button:hover {
    background-color: #003e99;
}

.pagination {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.pagination .pagination-number {
    margin: 0 10px;
    font-weight: bold;
    color: #333;
}

.pagination .fa-chevron-left,
.pagination .fa-chevron-right {
    cursor: pointer;
    color: #36d7b7;
}

.pagination .fa-chevron-left:hover,
.pagination .fa-chevron-right:hover {
    color: #2cafa1;
}
.dropdown-menu {
    position: absolute;
    background-color: #ffffff;
    color: #344563;
    padding: 8px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 999;
    display: none;
}

.ellipsis-wrapper:hover .dropdown-menu {
    display: block;
}

.dropdown-menu button {
    display: block;
    width: 100%;
    padding: 8px;
    border: none;
    background-color: transparent;
    color: #344563;
    cursor: pointer;
}

.dropdown-menu button:hover {
    /*background-color: #344563;*/
    color: #003e99;

}



